.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.nav{
  position: absolute;
  width: 100%;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  background: rgba(137, 137, 137, 0.8);
}

.content {
  width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }

  .sidebar,
  .content {
    width: 100%;
  }

  .sidebar {
    min-height: 20%;
    overflow-y: scroll;
  }

  .content {
    height: 80%;
  }
}
